p-steps .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
    background-color: #757575 !important;
   }
   .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
    background-color: #bdbdbd !important;
   }
   .ui-steps:before {
    border: none !important;
   }