@media screen and (max-width: 991px) {
  .cacher {
    display: none;
  }
  .img-logo-buy-page {
    width: 40%;
    padding-left: 10px;
    margin: auto;
  }
  .bloc-intro-announce {
    margin: 100px 20px 20px;
    padding: 20px;
  }
  .bloc-content-announce {
    width: 100%;
    padding: 20px;
  }
  .form-content-announce {
    flex-direction: column;
    align-items: inherit !important;
    padding: 20px;
  }
  .form-announce-item {
    width: 100% !important;
  }
  .btn-submit-form {
    padding: 15px;
  }
  .bloc-text-form {
    width: 100% !important;
    padding-bottom: 20px;
  }
  .container-bloc-right-form {
    padding-bottom: 20px;
  }
  .quantite-prix-content {
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (min-width: 992px) {
  .hide {
    display: none;
  }
}
