<div class="flex relative flex-col items-center justify-center min-h-screen bg-[#F1F1F1] space-y-[2%]">
    <div class="lg:w-[20%] md:w-[30%] sm:w-[15%] md:w-1/6 absolute top-[3%]">
        <button routerLink="/connexion">
            <img src="../../../assets/logo_banxass_vert.png" />
        </button>
    </div>
    <div class="lg:w-[60%] md:w-[70%] shadow-lg p-5">
        <span class="sm:text-[8px] md:text-[10px] lg:text-[14px]">Hello <b>{{pseudo}}</b></span><br>
        <p class="sm:text-[8px] md:text-[10px] lg:text-[14px]">Ces quelques lignes sont ce qui vous sépare de vos prochains BTC</p>
        <div class="w-full pt-5">
            <hr class="w-full border-green-400">
        </div>
        <div class="w-full flex flex-row space-x-[40%] lg:space-x-[60%] pt-5">
            <div class="lg:w-[20%] lg:text-subtitle sm:text-[10px] md:text-[12px] font-bold">
                    Prix actuel d'1 BTC
            </div>
            <div class="w-[30%] lg:text-[20px] sm:text-[10px] md:text-[12px] font-bold text-green-600">
                {{rate}}
            </div>
        </div>
    </div>
    <form [formGroup]="announceForm" (ngSubmit)="addAnnounce()" class="lg:w-[80%] md:w-[90%] sm:w-[99%] flex  items-center justify-center">
        <div class="lg:w-full shadow-lg flex flex-col items-center justify-center lg:p-5 md:p-3 sm:p-2">
            <div class="lg:w-[70%] md:w-[75%]  sm:w-[80%] lg:text-[12px] md:text-[10px] sm:text-[8px] items-center flex md:flex-row justify-center text-gray-400">
                <div class="w-[19%] text-center"><label for="">Quantité à acheter</label></div>
                <div class="w-[19%]  text-center"><label for="">Prix</label></div>
                <div class="w-[19%]  text-center"><label for="">Marge</label></div>
                <div class="w-[19%]  text-center"><label for="">Sens</label></div>
                <div class="w-[19%]  text-center"><label for="">Moyen de Paiement</label></div>
            </div>
            <div class=" lg:w-[75%] md:w-[80%] sm:w-[90%]  lg:text-[12px] md:text-[10px] sm:text-[8px] bg-[#E7F5ED] border border-green-400 flex  md:flex-row justify-around items-center lg:p-5 lg:m-2 md:p-3 sm:p-2" >
                <div class="lg:w-[8%] md:w-[12%] sm:w-[15%] relative right-[40%]">
                    <select formControlName="quantityType" id="" (change)="hideInputQuantityAmount()" class="w-full rounded-l-lg px-2 py-2 border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                        <option value="" >Choisir...</option>
                        <option value="F">Fixe</option>
                        <option value="R" >Range</option>
                    </select>   
                </div>
                <div *ngIf="rangeHidden" class="lg:w-[16%] md:w-[20%] sm:w-[25%] absolute  lg:left-[19%]  md:left-[10%]  sm:left-[12%] flex flex-row sm:m-[10%]" id="dropdown">
                    <input type="text" formControlName="quantityMin" value="" placeholder="Min" class="px-1 py-0.55 lg:w-[50%] md:w-[50px] sm:w-[20px] sm:text-[10px]  border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                    <input type="text" formControlName="quantityMax" value="" placeholder="Max" class="px-1 py-0.55 lg:w-[50%] md:w-[50px] sm:w-[20px] sm:text-[10px] border border-green-400 rounded-r-lg focus:outline-none focus:ring-1 focus:ring-green-design">
                    <div class="lg:ml-5 sm:ml-2">
                        <input type="text" formControlName="amountMin" value="" placeholder="Min" class="px-1 py-0.55 lg:w-[50%] md:w-[50px] sm:w-[20px] sm:text-[10px] border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                        <input type="text" formControlName="amountMax" value="" placeholder="Max" class="px-1 py-0.55 lg:w-[50%] md:w-[50px] sm:w-[20px] sm:text-[10px]  border border-green-400 rounded-r-lg focus:outline-none focus:ring-1 focus:ring-green-design">
                    </div>
                </div>
                <div *ngIf="fixeHidden" class="lg:w-[16%] md:w-[20%] sm:w-[25%] absolute lg:left-[19%]  md:left-[10%]  sm:left-[12%] flex flex-row sm:m-[10%]" id="dropdown">
                    <input type="text" formControlName="quantityFixe" value="" placeholder="Fixe" class="px-1 py-0.55 lg:w-[50%] md:w-[50px] sm:w-[40%] sm:text-[10px]  rounded-r-lg border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                    <div class="ml-5 sm:ml-2 lg:w-[50%] md:w-[50px] sm:w-[40%]">
                        <input type="text" formControlName="amountFixe" value="" placeholder="Fixe" class="px-1 py-0.55 w-full sm:text-[10px] rounded-r-lg border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                    </div>
                </div>
                <div class="w-[8%] absolute">
                    <input type="number" formControlName="marge" value="" placeholder="-10%" class="px-1 py-0.55 w-full text-center  rounded border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                </div>
                <div class="w-[7%] absolute right-[35%]">
                    
                    <select formControlName="sens" id="" class="w-full rounded px-2 py-2 border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                        <!-- <option value="" >Select a Value</option> -->
                        <option value="V">Vente</option>
                        <option value="A" >Achat</option>
                    </select>
                </div>
                <div *ngIf="!fieldActive" class="lg:w-[10%] md:w-[10%] sm:w-[15%] absolute lg:right-[23%] md:right-[20%] sm:right-[15%]">
                    <button routerLink="/user/profil/methode-paiement" class="w-full rounded  lg:text-[12px] md:text-[8px] sm:text-[6px] px-2 py-2 border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">Veillez ajouter un moyen de paiement</button>
                </div>
                <div *ngIf="fieldActive" class="lg:w-[10%] md:w-[10%] sm:w-[15%] absolute lg:right-[23%] md:right-[20%] sm:right-[15%]">
                    
                    <select formControlName="provider" id="" class="w-full  lg:text-[12px] md:text-[10px] sm:text-[6px] rounded px-2 py-2 border border-green-400 focus:outline-none focus:ring-1 focus:ring-green-design">
                        <!-- <option value=Money"" >Select a Value</option> -->
                        <optgroup *ngFor="let paiement of datas">
                            <option *ngIf="paiement.name === 'OM'" value="{{paiement.id}}">Orange Money</option>
                            <option *ngIf="paiement.name === 'WAVE'" value="{{paiement.id}}">Wave</option>
                            <option *ngIf="paiement.name === 'FREE'" value="{{paiement.id}}">Free Money</option>
                        </optgroup>
                        <!-- <option value="WAVE" >Wave</option> -->
                    </select>
                </div>
            </div>
            
            <div class="mt-2 flex justify-center lg:text-[12px] md:text-[10px] sm:text-[6px] font-bold text-red-600" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <div class="w-[75%] mt-[3%] grid  justify-items-start ">
                <p class="text-link w-[80%] lg:text-[14px] md:text-[12px] sm:text-[8px]">
                    Vous souhaitez donc <span *ngIf="announceForm.value.sens==='A'"> acheter&nbsp;</span><span *ngIf="announceForm.value.sens==='V'"> vendre&nbsp;</span> 
                    <b *ngIf="announceForm.value.quantityType==='F'">{{announceForm.value.quantityFixe}} BTC </b>
                    <b *ngIf="announceForm.value.quantityType==='R'">{{announceForm.value.quantityMin}} à {{announceForm.value.quantityMax}} BTC </b>
                    pour une valeur de 
                    <b *ngIf="announceForm.value.quantityType==='F'">{{announceForm.value.amountFixe}} {{devise}} </b>
                    <b *ngIf="announceForm.value.quantityType==='R'">{{announceForm.value.amountMin}} à {{announceForm.value.amountMax}} {{devise}} </b>
                    , en <span *ngIf="announceForm.value.sens==='A'"> payant&nbsp;</span><span *ngIf="announceForm.value.sens==='V'"> recevant&nbsp;</span>  via 
                    <b *ngIf="announceForm.value.provider==='OM'">Orange Money.</b>
                    <b *ngIf="announceForm.value.provider==='FREE'">Free Money.</b>
                    <b *ngIf="announceForm.value.provider==='WAVE'">Wave.</b>
                    <br>
                    A cela, il faudra ajouter des frais de <b>5% </b>prélevés sur les BTC que vous recevrez, ainsi que les frais de transaction du réseau Bitcoin.
                </p>
            </div>
            <div class="flex justify-center w-[45%] mt-[3%]">
                <button type="submit" class="lg:w-[70%] md:w-[50%] lg:text-[20px] md:text-[12px] sm:text-[8px] sm:w-[90%] md:w-full px-6 py-3 text-green-design bg-white border-2 border-green-design rounded-[40px] font-bold hover:text-white hover:bg-green-800">Confirmer</button>
            </div>

            
            <p-toast></p-toast>

            <!-- <button type="button" pButton  label="Simple Toast Example" class="ui-button-success"></button> -->
        </div>
    </form>
</div>

<app-footer></app-footer>
