asgiref==3.5.0
attrs==22.1.0
autobahn==22.6.1
Automat==20.2.0
bcrypt==3.2.2
certifi==2021.10.8
cffi==1.15.0
channels==3.0.5
charset-normalizer==2.0.12
constantly==15.1.0
cryptography==37.0.2
daphne==3.0.2
Django==4.0.4
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
loguru==0.6.0
mysqlclient==2.1.0
paramiko==2.11.0
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
PyNaCl==1.5.0
pyOpenSSL==22.0.0
python-dotenv==0.20.0
pytz==2022.1
requests==2.27.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.3.0
tzdata==2022.1
urllib3==1.26.9
zope.interface==5.4.0
