<div class="flex relative flex-col items-center justify-center min-h-screen">
  <div class="container">
    <div class="w-[30%] md:w-1/6 absolute top-[5%]">
      <a href="user/home">
        <img src="assets/logo_banxass_vert.png" />
      </a>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="content-col-left-buy">
          <button
            class="px-12 py-12 sm:text-[12px] md:text-[16px] lg:text-[20px] justify-center shadow-xl border border-green-design hover:bg-white hover:text-green-design rounded btn-content-col-left-buy"
            routerLink="/user/offre"
          >
            Consulter les offres existantes
          </button>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="content-col-right-buy">
          <button
            class="px-12 py-12 md:text-[20px] justify-center shadow-xl border border-green-design hover:bg-white hover:text-green-design rounded btn-content-col-right-buy"
            routerLink="/annonce"
          >
            Publier une annonce
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
