<div class="flex relative flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="w-[30%] md:w-1/6 absolute top-[5%]">
        <button routerLink="/accueil">
            <img src="../../../assets/logo_banxass_vert.png" />
        </button>
    </div>
    <div class="w-full justify-center flex flex-row space-x-[20%]">
        <button class="w-[20%] px-12 py-12 md:text-[20px] justify-center  shadow-xl border border-green-design hover:bg-white hover:text-green-design rounded">Consulter les offres de vente existantes</button>
        <button class="w-[20%] px-12 py-12 md:text-[20px] justify-center  shadow-xl border border-green-design hover:bg-white hover:text-green-design rounded">Publier une annonce</button>
    </div>
</div>