  <!--   HOME BODY   -->

  <div class="container-fluid flex flex-row">
    <div class="sm:w-[0%] md:w-[30%] lg:w-[20%] lg:mt-72 md:mt-72 sm:ml-10 lg:ml-[10%]">
      <img src="../../../../assets/Illustration_sans_titre-4-removebg-preview.png" class="md:h-[200px] lg:h-[350px]" alt="rocket">
    </div>
    <div class="sm:w-full md:w-[37%] lg:w-[35%] lg:ml-10 mt-16 md:mt-44 lg:mt-44">
      <h1 class="sm:text-[10px] md:text-[15px] lg:text-title"><b>Bienvenue sur Banxass</b> {{pseudo}}</h1>
      <p class="mt-4 md:mt-8 lg:mt-8 sm:text-[10px] md:text-[13px] lg:text-paragraphe">Aujourd'hui, le Bitcoin vaut <b>{{rate}}.</b> Il en hausse de  <b>18%</b> depuis la dernière fois que vous êtes connectés <br>
          Il y'a actuellement <b>25 annonces d'achats </b> et <b>44 annonces de ventes</b> de <b>BTC</b>.
          <br><br>
          Vous n'avez pas encore réalisé d'échange. Souhaitez-vous commencer?
      </p>
      <div class="flex flex-row justify-center items-center sm:mt-8 md:mt-16 lg:mt-16">
        <button class="sm:px-2 sm:py-2 md:px-2 md:py-3 shadow-xl text-center lg:w-[35%] md:w-[45%] rounded-[10px] sm:text-[10px] md:text-[12px] lg:text-[18px] text-white bg-green-design border-green-design sm:rounded-[40px] md:rounded-[40px] border-2 font-bold hover:text-green-800 hover:bg-white" routerLink="/acheter">Acheter / Vendre</button>
      </div>
    </div>
    <div class="sm:w-[0%] md:w-[30%] lg:w-[27%] lg:mt-72 md:mt-72 flex pl-10 flex-row justify-center lg:mr-0 md:mr-30">
      <img src="../../../../assets/Illustration3.png" alt="illustration_personne_3" class="md:h-[200px] lg:h-[350px]">
    </div>
  </div>