<!--   HOME BODY   -->

<div class="mx-auto w-full max-w-xl px-4 py-24 md:py-32 flex-auto flex flex-col">
  <div class="md:pb-48 relative my-auto">
    <div class="hidden md:inline-block absolute w-96 -left-72 bottom-0">
      <img
        src="../../../assets/Illustration_sans_titre-4-removebg-preview.png"
        alt="rocket"
        class="w-full"
      />
    </div>
    <h1 class="text-center text-min-title sm:text-5xl font-bold mb-6 md:mb-8">
      Bienvenue sur Banxass {{ pseudo }}
    </h1>
    <p class="text-center lg:text-paragraphe mb-4">
      Aujourd'hui, le Bitcoin vaut <b>{{ rate }}.</b> Il en hausse de <b>18%</b> depuis la dernière
      fois que vous êtes connectés <br />
      Il y'a actuellement <b>25 annonces d'achats </b> et <b>44 annonces de ventes</b> de
      <b>BTC</b>. <br /><br />
      Vous n'avez pas encore réalisé d'échange. Souhaitez-vous commencer?
    </p>
    <div class="mx-auto max-w-xs md:w-60 md:absolute md:-right-72 md:-bottom-0">
      <img
        src="../../../../assets/Illustration3.png"
        alt="illustration_personne_3"
        class="w-full"
      />
    </div>
    <div class="flex justify-center mt-4 md:mt-10">
      <button
        class="inline-block text-white bg-green-design hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-3xl px-4 md:px-6 py-3 text-center"
        routerLink="/acheter"
      >
        Acheter / Vendre
      </button>
    </div>
  </div>
</div>
