<div class="flex flex-col justify-center m-auto w-full max-w-xl py-8 md:py-24 flex-auto">
  <div class="mb-8 text-center">
    <button routerLink="/accueil">
      <img src="../../../assets/logo_banxass_vert.png" class="h-10 md:h-12" alt="logo" />
    </button>
  </div>
  <div class="p-8 sm:p-12 mx-4 text-left shadow-xl bg-white rounded-md">
    <h1 class="sm:text-title font-bold uppercase text-center">connecte-toi</h1>
    <div class="mt-2 flex justify-center font-bold text-red-600" *ngIf="failed_message">
      {{ failed_message }}
    </div>
    <form novalidate [formGroup]="signin" (ngSubmit)="connected()">
      <div class="mt-4">
        <label class="block font-bold" for="name">Pseudo</label>
        <input
          type="text"
          formControlName="login"
          placeholder="Pseudo"
          class="w-full px-4 py-2 mt-2 border-2 border-green-design rounded-md focus:outline-none focus:ring-4 focus:ring-green-200"
        />
        <div
          class="mt-2 text-red-600"
          *ngIf="formControls['login'].errors?.['required'] && formControls['login']?.touched"
        >
          Nom d'utilisateur est obligatoire
        </div>
        <div class="mt-2 text-red-600" *ngIf="formControls['login'].errors?.['pattern']">
          Nom d'utilisateur est invalide
        </div>
      </div>
      <div class="mt-4">
        <label class="block font-bold" for="password">Mot de passe</label>
        <div class="relative">
          <input
            [type]="fieldTextType ? 'text' : 'password'"
            formControlName="password"
            placeholder="*******"
            id="password"
            class="w-full px-4 py-2 mt-2 border-2 border-green-design rounded-md focus:outline-none focus:ring-4 focus:ring-green-200"
          />
          <a class="absolute top-[50%] -mt-1.5 right-4 z-20" (click)="toggleFieldTextType()">
            <svg
              class="h-5 w-5 text-green-600 z-10"
              *ngIf="!fieldTextType"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
            <svg
              class="h-5 w-5 text-green-600 z-10"
              *ngIf="fieldTextType"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
              />
              <line x1="1" y1="1" x2="23" y2="23" />
            </svg>
          </a>
        </div>
      </div>
      <div
        class="mt-2 text-red-600"
        *ngIf="formControls['password'].errors?.['required'] && formControls['password']?.touched"
      >
        Le mot de passe est obligatoire
      </div>
      <div class="flex justify-center mt-4">
        <button
          (click)="progressSpinner()"
          [disabled]="signin.invalid"
          class="mt-4 inline-block text-white bg-green-design hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-3xl px-4 md:px-6 py-3 text-center"
        >
          Se connecter
        </button>
      </div>
      <div *ngIf="progress" class="flex justify-center">
        <div class="sm:w-[75%] lg:w-[50%] mt-4 text-center">
          <!-- <img src="../../../assets/banxaas_logo_animation.gif" class="" alt="banxaas_logo_animation" srcset=""> -->
          <!-- <p-progressSpinner></p-progressSpinner> -->
          <p-progressSpinner
            styleClass="custom-spinner"
            strokeWidth="2"
            fill="#FFFFFF"
            animationDuration=".5s"
          ></p-progressSpinner>
        </div>
      </div>
    </form>
  </div>

  <div class="mt-6 text-link text-center">
    Vous n'avez pas de compte?
    <a
      routerLink="/register"
      class="text-green-design font-bold underline decoration-green-design hover:text-green-800"
    >
      S'inscrire
    </a>
  </div>
</div>

<app-footer></app-footer>
