<div class="flex flex-col ml-10 mb-10 no-ml-mobile">
  <div class="mt-10">
    <h3 class="sm:text-[8px] md:text-[10px] lg:text-[14px] uppercase font-bold">
      informations personnelles
    </h3>
    <hr class="sm:w-[90%] md:w-[95%] lg:w-[99%] mt-5 border-green-design" />
  </div>
  <div class="mt-10 flex flex-col">
    <div class="w-[90%] md:w-1/2 bg-white flex mt-2 container-form-compte">
      <form
        novalidate
        [formGroup]="passwordForm"
        class="w-[90%] container-form-compte"
      >
        <div class="mt-4">
          <div class="mt-4 relative">
            <label
              class="block font-bold sm:text-[8px] md:text-[12px] lg:text-[14px]"
              for="name"
              >Mot de passe actuel</label
            >
            <input
              formControlName="password"
              [type]="fieldTextTypeActual ? 'text' : 'password'"
              placeholder="mot de passe actuel"
              id="password"
              class="w-[80%] px-4 py-2 sm:text-[8px] md:text-[12px] lg:text-[14px] mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design input-password-mobile form-control"
            />
            <a
              class="absolute lg:top-10 lg:left-[72%] z-20 hideorshow-password"
              (click)="toggleFieldTextTypeActual()"
            >
              <!-- <svg
                class="h-5 w-5 text-green-600 z-10"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                <circle cx="12" cy="12" r="3" />
              </svg> -->
              <svg
                class="h-5 w-5 text-green-600 z-10"
                *ngIf="!fieldTextTypeActual"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                <circle cx="12" cy="12" r="3" />
              </svg>
              <svg
                class="h-5 w-5 text-green-500 z-10"
                *ngIf="fieldTextTypeActual"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                />
                <line x1="1" y1="1" x2="23" y2="23" />
              </svg>
            </a>
          </div>
          <div
            class="mt-2 text-red-600"
            *ngIf="formControls['password'].errors?.['required'] && formControls['password']?.touched"
          >
            Le champ est obligatoire
          </div>
          <div class="mt-2 font-bold text-red-600" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <div class="mt-4 relative">
            <label
              class="block font-bold sm:text-[8px] md:text-[12px] lg:text-[14px]"
              for="name"
              >Nouveau mot de passe</label
            >
            <input
              formControlName="newPassword"
              [type]="fieldTextTypeNew ? 'text' : 'password'"
              placeholder="nouveau mot de passe"
              id="newPassword"
              class="w-[80%] px-4 py-2 sm:text-[8px] md:text-[12px] lg:text-[14px] mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design input-password-mobile form-control"
            />
            <a
              class="absolute lg:top-10 lg:left-[72%] z-20 hideorshow-password"
              (click)="toggleFieldTextTypeNew()"
            >
              <!-- <svg
                class="h-5 w-5 text-green-600 z-10"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                <circle cx="12" cy="12" r="3" />
              </svg> -->
              <svg
                class="h-5 w-5 text-green-600 z-10"
                *ngIf="!fieldTextTypeNew"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                <circle cx="12" cy="12" r="3" />
              </svg>
              <svg
                class="h-5 w-5 text-green-500 z-10"
                *ngIf="fieldTextTypeNew"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                />
                <line x1="1" y1="1" x2="23" y2="23" />
              </svg>
            </a>
          </div>
          <div
            class="mt-2 text-red-600"
            *ngIf="formControls['newPassword'].errors?.['required'] && formControls['newPassword']?.touched"
          >
            Le champ est obligatoire
          </div>
          <div
            class="mt-2 text-red-600"
            *ngIf="formControls['newPassword'].errors?.['pattern']"
          >
            8 caractères au minimum, lettre majuscule, lettre miniscule, un
            chiffre et un caractère spécial
          </div>

          <div class="mt-4 relative">
            <label
              class="block font-bold sm:text-[8px] md:text-[12px] lg:text-[14px]"
              for="name"
              >Confirmation du nouveau mot de passe</label
            >
            <input
              formControlName="confirmPassword"
              [type]="fieldTextTypeConfirm ? 'text' : 'password'"
              placeholder="confirmation du nouveau mot de passe"
              id="confirmPassword"
              class="w-[80%] sm:text-[8px] md:text-[12px] lg:text-[14px] px-4 py-2 mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design input-password-mobile form-control"
            />
            <a
              class="absolute lg:top-10 lg:left-[72%] z-20 hideorshow-password"
              (click)="toggleFieldTextTypeConfirm()"
            >
              <!-- <svg
                class="h-5 w-5 text-green-600 z-10"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                <circle cx="12" cy="12" r="3" />
              </svg> -->
              <svg
                class="h-5 w-5 text-green-600 z-10"
                *ngIf="!fieldTextTypeConfirm"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                <circle cx="12" cy="12" r="3" />
              </svg>
              <svg
                class="h-5 w-5 text-green-500 z-10"
                *ngIf="fieldTextTypeConfirm"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                />
                <line x1="1" y1="1" x2="23" y2="23" />
              </svg>
            </a>
          </div>
          <div
            class="mt-2 text-red-600"
            *ngIf="formControls['confirmPassword'].errors?.['required'] && formControls['confirmPassword']?.touched"
          >
            Le champ est obligatoire
          </div>
          <!-- <div class="mt-2 text-red-600" *ngIf="formControls['confirmPassword'].errors?.['pattern']">8 caractères au minimum, lettre majuscule, lettre miniscule, un chiffre et un caractère spécial</div> -->
          <div class="mt-2 text-red-600" *ngIf="passwordMatchError">
            Le mot de passe ne correspond pas
          </div>
        </div>
        <div class="mt-10">
          <button
            (click)="toggleModal()"
            [disabled]="passwordForm.invalid"
            class="flex shadow-xl border border-green-design flex-row bg-green-design hover:bg-green-800 text-white font-bold lg:px-12 lg:py-4 md:px-8 md:py-2 sm:px-4 sm:py-2 rounded btn-edit-profil"
          >
            Enrégistrer
          </button>
        </div>
        <p-dialog header="Confirmation" [(visible)]="hidden">
          <div class="mt-4">
            <p>
              Veuillez-vous reconnecter apres les changements, Cliquer sur ok
              pour confirmer
            </p>
          </div>
          <div class="mt-10 grid w-full justify-center">
            <button
              type="submit"
              (click)="setPassword()"
              class="w-full shadow-xl border border-green-design flex-row bg-green-design hover:bg-green-800 text-white font-bold py-4 px-12 rounded"
            >
              Ok
            </button>
          </div>
        </p-dialog>
      </form>
    </div>
  </div>
</div>
