@media (max-width: 991px) {
  .btn-edit-profil {
    padding: 10px;
  }
  .input-password-mobile {
    width: 100% !important;
  }
  .container-form-compte {
    width: 100% !important;
  }
  .hideorshow-password {
    right: 4% !important;
    top: 59% !important;
  }
  .no-ml-mobile {
    margin-left: inherit !important;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .hideorshow-password {
    right: 4% !important;
    top: 59% !important;
  }
  .input-password-mobile {
    width: 100% !important;
  }
}
