<nav
  class="bg-green-design px-2 sm:px-4 py-4 sm:py-5 fixed w-full z-20 top-0 left-0"
  aria-label="Main navigation"
>
  <div class="sm:container-fluid md:container flex flex-wrap justify-between items-center mx-auto">
    <a href="{{ token ? 'user/home' : 'accueil' }}" class="flex items-center">
      <img src="../../../assets/logo1.png" class="mr-3 h-8 sm:h-10 md:h-12" alt="logo" />
    </a>
    <div class="flex md:order-2">
      <button
        *ngIf="!token"
        routerLink="/connexion"
        class="hidden sm:inline-block text-white hover:text-green-design bg-transparent hover:bg-green-100 border-2 border-white hover:border-green-100 focus:ring-4 focus:outline-none focus:ring-green-600 font-medium rounded-3xl text-sm px-3 py-1.5 md:px-5 md:py-2.5 text-center mr-3"
      >
        Se Connecter
      </button>
      <button
        *ngIf="!token"
        routerLink="/register"
        class="hidden sm:inline-block text-green-design bg-white hover:bg-green-100 focus:ring-4 focus:outline-none focus:ring-green-600 font-medium rounded-3xl text-sm px-3 py-1.5 md:px-5 md:py-2.5 text-center mr-3 md:mr-0"
      >
        Créer un compte
      </button>
      <button
        *ngIf="token"
        routerLink="/acheter"
        class="hidden sm:inline-block text-green-design bg-white hover:bg-green-100 focus:ring-4 focus:outline-none focus:ring-green-600 font-medium rounded-3xl text-sm px-3 py-1.5 md:px-5 md:py-2.5 text-center mr-3 md:mr-0"
      >
        Acheter/Vendre du BTC
      </button>
      <select
        *ngIf="token"
        class="text-black w-full nav-link text-[18px]"
        (click)="urlProfil($any($event.target).value)"
      >
        <!-- <option value=""></option> -->
        <option value="profil" selected>{{ pseudo }}</option>
        <!-- <option value=""></option> -->
      </select>
      <button app-hamburger></button>
    </div>
    <div app-menu class="md:flex md:order-1">
      <li *ngIf="token">
        <a
          routerLink="/user/historique_transactions"
          class="block py-2 px-4 md:p-0 text-black hover:text-black md:text-white md:hover:text-green-100 hover:bg-gray-100 md:hover:bg-transparent rounded"
          >Historique des transactions</a
        >
      </li>
      <li>
        <a
          routerLink="/documentation"
          class="block py-2 px-4 md:p-0 text-black hover:text-black md:text-white md:hover:text-green-100 hover:bg-gray-100 md:hover:bg-transparent rounded"
          >Documentation</a
        >
      </li>
      <li>
        <a
          routerLink="/aide_et_support"
          class="block py-2 px-4 md:p-0 text-black hover:text-black md:text-white md:hover:text-green-100 hover:bg-gray-100 md:hover:bg-transparent rounded"
          >Aide</a
        >
      </li>
    </div>
  </div>
</nav>
