.section1{
  overflow-y: scroll;
  height: 750px;
}

@media screen and (max-width: 800px) {
  .section1{
      margin: 0;
      padding: 0;
      height: 200px;
  }
  .img_doc{
    display: none;
  }
}

a:hover{
  color: black;
}
// .test
// {
//   background-color: green;
// }
