<!--  BANNIERE  -->

<!--  Avec Tailwind  -->

<app-navbar class="self-start"></app-navbar>

<!--   HOME BODY   -->

<div class="mx-auto w-full max-w-4xl px-4 py-24 md:py-32 flex-auto flex flex-col">
  <div class="md:pb-48 relative my-auto">
    <div class="hidden md:inline-block absolute w-96 -left-32 bottom-12">
      <img
        src="../../../assets/Illustration_sans_titre-4-removebg-preview.png"
        alt="rocket"
        class="w-full"
      />
    </div>
    <h1 class="text-center text-min-title sm:text-5xl lg:text-heading font-bold mb-6 md:mb-8">
      Acheter et Vendre<br />
      du Bitcoin
    </h1>
    <p class="text-center lg:text-paragraphe mb-4">
      Créez un compte et commencez à <b>ACHETER</b> et à <b>VENDRE</b> du<br />
      <b>BITCOIN</b>, avec les moyens de paiement locaux, en mode <b>P2P</b>.
    </p>
    <div class="mx-auto max-w-sm md:absolute md:-right-40 md:bottom-0">
      <img src="../../../assets/illustration.png" alt="illustration_personne" class="w-full" />
    </div>
    <div class="flex justify-center mt-4 md:mt-10">
      <button
        class="inline-block text-white bg-green-design hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-3xl px-4 md:px-6 py-3 text-center"
        routerLink="/register"
      >
        Commencer
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
