  <!--   HOME BODY   -->

  <div class="container-fluid flex flex-row bg-gray-100">
    <div class="w-[25%] mt-44 lg:mt-72 ml-10 md:mt-44 lg:ml-28 md:ml-28">
      <img src="../../../assets/illustration_sans_titre-4.png" class="h-[180px] md:h-[350px]" alt="rocket">
    </div>
    <div class="w-[33%] lg:ml-10 mt-16 md:mt-44 lg:mt-44">
      <h1 class="text-[15px] md:text-title lg:text-title"><b>Bienvenue sur Banxass</b> di_aissatu</h1>
      <p class="mt-4 md:mt-8 lg:mt-8 text-[10px] md:text-paragraphe lg:text-paragraphe">Aujourd'hui, le Bitcoin vaut <b>40.00$</b>.Il en hausse de  <b>18%</b> depuis la dernière que vous êtes connectés <br>
          Il y'a actuellement <b>25 annonces d'achats </b> et <b>44 annonces de ventes</b> de <b>BTC</b>.
          <br><br>
          Vous n'avez pas encore réalisé d'échange. Souhaitez-vous commencer?
      </p>
      <div class="flex md:flex-row flex-col justify-center items-center mt-4 md:mt-16 lg:mt-16">
        <button class="md:px-12 md:py-4 shadow-xl text-center w-[50%] md:w-[33%] rounded-[10px] text-[12px] md:text-title text-white bg-green-design border-green-design md:rounded-[40px] border-2 font-bold hover:text-green-800 hover:bg-white">Acheter</button>
        <button class="md:px-12 md:py-4 shadow-xl text-center mt-2 md:mt-0 rounded-[10px] text-[12px] md:rounded-[40px] mx-4 md:mx-10 w-[50%] md:w-[33%] text-green-design bg-white  border-2 border-green-design md:text-title font-bold hover:text-white hover:bg-green-800">
          Vendre
        </button>
      </div>
    </div>
    <div class="w-[23%] mt-44 mr-10 md:mt-48 flex pl-10 flex-row lg:mr-60 md:mr-60">
      <img src="../../../../assets/Illustration3.png" alt="illustration_personne_3" class="w-[80%]">
    </div>
  </div>