<div class="sm:mt-[25%] md:mt-[30%] lg:mt-[10%] mb-5">
  <div class="w-full flex justify-center">
    <div
      class="sm:w-[70%] md:w-[45%] bg-white flex justify-center border border-b-4 border-green-design rounded-t-lg"
    >
      <div class="w-[90%] flex items-center">
        <!-- <img src="../../../assets/logo1.png" class="w-1/10 rounded-3xl align-items-right max-h-full" > -->
        <div class="md:w-[70%] mt-2 mb-2 flex">
          <!-- <img src="../../../assets/logo1.png" class="align-items-right max-h-full" > -->
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-full w-[50%] sm:w-[20%] md:w-[20%] h-1/2"
            alt="Avatar"
          />

          <div class="flex flex-col ml-1 md:ml-5 justify-center">
            <div class="font-bold text-[10px] md:text-[12px] lg:text-[16px]">
              {{ pseudo }}
            </div>
          </div>
        </div>
        <div
          class="md:w-[25%] lg:w-[30%] flex justify-center md:ml-22 lg:ml-28"
        >
          <button
            type=""
            class="w-full flex sm:text-[10px] md:text-[12px] lg:text-[16px] border border-green-design flex-row bg-white hover:bg-green-design hover:text-green-design text-green-design font-bold md:py-2 md:px-3 rounded"
          >
            Changer l'avatar
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 md:ml-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
              />
              <path
                fill-rule="evenodd"
                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center mt-10 container-page-mobile">
    <div class="sm:w-[90%] lg:w-[70%]">
      <ul
        class="flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0"
        id="tabs-tabJustify"
        role="tablist"
      >
        <li
          (click)="changeBg('compte')"
          [style]="bgAccount"
          class="flex-grow text-center lg:rounded-tl-lg border border-green-design md:border-r-0 hover:border-b-4 focus:border focus:border-b-4 hover:bg-green-design hover:text-white"
          role="presentation"
        >
          <a
            routerLink="compte"
            class="h-full w-full block text-link font-bold px-6 py-3 my-2 text-[14px] hover:text-white"
            id="tabs-home-tabJustify"
            data-bs-toggle="pill"
            data-bs-target="#tabs-homeJustify"
            role="tab"
            aria-controls="tabs-homeJustify"
            aria-selected="true"
            >Compte</a
          >
        </li>
        <!-- <li (click)="changeBg('securité')" [style]="bgSecure"
          class="flex-grow text-center border border-green-design md:border-r-0 hover:border-b-4 focus:border focus:border-b-4 hover:bg-green-design hover:text-white"
          role="presentation">
          <a routerLink="securite" class="
                h-full
                w-full
                block
                text-link
                font-bold
                px-6
                py-3
                my-2
                text-[14px]
              " id="tabs-home-tabJustify" data-bs-toggle="pill" data-bs-target="#tabs-homeJustify" role="tab"
            aria-controls="tabs-homeJustify" aria-selected="true">Sécurité</a>
        </li> -->
        <li
          (click)="changeBg('password')"
          [style]="bgPassword"
          class="flex-grow text-center border border-green-design md:border-r-0 hover:border-b-4 focus:border focus:border-b-4 hover:bg-green-design hover:text-white"
          role="presentation"
        >
          <a
            routerLink="mot-de-passe"
            class="h-full w-full block text-link font-bold px-6 py-3 my-2 text-[14px] hover:text-white"
            id="tabs-home-tabJustify"
            data-bs-toggle="pill"
            data-bs-target="#tabs-homeJustify"
            role="tab"
            aria-controls="tabs-homeJustify"
            aria-selected="true"
            >Mot de passe</a
          >
        </li>
        <li
          (click)="changeBg('payment')"
          [style]="bgPayment"
          class="flex-grow text-center lg:rounded-tr-lg border border-green-design md:border-r-0 hover:border-b-4 focus:border focus:border-b-4 hover:bg-green-design hover:text-white"
          role="presentation"
        >
          <a
            routerLink="methode-paiement"
            class="h-full w-full block text-link font-bold px-6 py-3 my-2 text-[14px] hover:text-white"
            id="tabs-home-tabJustify"
            data-bs-toggle="pill"
            data-bs-target="#tabs-homeJustify"
            role="tab"
            aria-controls="tabs-homeJustify"
            aria-selected="true"
            >Méthode de paiement</a
          >
        </li>
      </ul>
      <div
        class="tab-content bg-white w-full border border-green-design md:border-t-0 p-content-page-profil-mobile"
        id="tabs-tabContentJustify"
      >
        <div
          class="tab-pane fade show active"
          id="tabs-homeJustify"
          role="tabpanel"
          aria-labelledby="tabs-home-tabJustify"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
