<div class="flex flex-col ml-10 mb-10">
    <div class="mt-10">
        <h3 class="sm:text-[8px] md:text-[10px] lg:text-[14px] uppercase font-bold">authentification à deux facteurs</h3>
        <hr class="sm:w-[90%] md:w-[95%] lg:w-[99%] mt-5 border-green-design">
    </div>
    <div class="mt-10 flex flex-col">
        <h4 class="sm:text-[8px] md:text-[10px] lg:text-[14px] uppercase text-gray-400 font-bold">actif</h4>
        <div class="sm:w-[80%] md:w-[60%] lg:w-1/2 bg-red-600 flex mt-2 border border-b-4 border-green-design rounded-t-lg">
            <div class="w-full flex items-center">
                <div class="sm:w-[60%] md:w-[60%] mt-2 mb-2 flex">                    
                    <div class="flex flex-col ml-5 mt-3 mb-3 justify-center">
                        <div class="sm:text-[8px] md:text-[10px] lg:text-[14px] font-bold">Clé de sécurité</div>
                        <div class="sm:text-[4px] md:text-[6px] lg:text-[10px] mt-2 text-gray-400">Utilisez votre clé de sécurité</div>
                        <div class="sm:text-[6px] md:text-[8px] lg:text-[12px] mt-2 font-bold text-green-design">Trés sécurisée</div>
                    </div>
                </div>
                <div class="lg:w-[30%] md:w-[30%] sm:w-[30%] flex justify-center">
                    <button type="" class=" flex border border-green-design flex-row bg-white sm:text-[8px] md:text-[10px] lg:text-[14px] hover:bg-green-design hover:text-white text-green-design font-bold lg:px-12 lg:py-4 md:px-8 md:py-2 sm:px-4 sm:py-2 rounded">
                        Retirer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-10 flex flex-col">
        <h4 class="text-[14px] uppercase text-gray-400 font-bold">autres options</h4>
        <div class="sm:w-[80%] md:w-[60%] lg:w-1/2 bg-white flex mt-2 border border-b-4 border-green-design rounded-t-lg">
            <div class="w-full flex items-center">
                <div class="sm:w-[60%] md:w-[60%] mt-2 mb-2 flex">                    
                    <div class="flex flex-col ml-5 mt-3 mb-3 justify-center">
                        <div class="sm:text-[8px] md:text-[10px] lg:text-[14px] font-bold">SMS</div>
                        <div class="sm:text-[4px] md:text-[6px] lg:text-[10px] mt-2 text-gray-400">Numéro de téléphone: +xxx xxxxxxxxx33</div>
                        <div class="sm:text-[6px] md:text-[8px] lg:text-[12px] mt-2 font-bold text-orange-300">Moyennement sécurisée</div>
                    </div>
                </div>
                <div class="lg:w-[30%] md:w-[30%] sm:w-[30%] flex justify-center">
                    <button type="" class=" flex border border-green-design sm:text-[8px] md:text-[10px] lg:text-[14px] flex-row bg-green-design hover:bg-white hover:text-green-design text-white font-bold lg:px-10 lg:py-4 md:px-6 md:py-2 sm:px-2 sm:py-2 rounded">
                        Sélectionner
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-10">
        <button class=" flex shadow-xl border border-green-design flex-row bg-green-design hover:bg-white hover:text-green-design text-white font-bold lg:px-12 lg:py-4 md:px-8 md:py-2 sm:px-4 sm:py-2 rounded">Enregistrer</button>
    </div>
</div>