<button
  *ngIf="!token"
  routerLink="/connexion"
  class="inline-block w-full sm:w-auto btn-login-app text-green-design hover:text-white bg-white hover:bg-transparent border-2 border-green-design hover:border-white focus:ring-4 focus:outline-none focus:ring-gray-200 sm:focus:ring-green-600 font-medium rounded-3xl p-3 text-center btn-buy-or-seller-mobile m-2"
>
  Se Connecter
</button>
<button
  *ngIf="!token"
  routerLink="/register"
  class="inline-block w-full sm:w-auto btn-register-app focus:ring-4 focus:outline-none focus:ring-gray-200 sm:focus:ring-green-600 font-medium rounded-3xl p-3 text-center btn-buy-or-seller-mobile m-2"
>
  Créer un compte
</button>
<button
  *ngIf="token"
  routerLink="/acheter"
  class="inline-block w-full sm:w-auto focus:ring-4 focus:outline-none focus:ring-gray-200 sm:focus:ring-green-600 font-medium rounded-3xl px-3 py-1.5 md:px-5 md:py-2.5 btn-buy-or-seller-mobile"
>
  Acheter/Vendre du BTC
</button>
<ng-content></ng-content>
