input[type=checkbox]:checked:after {
content: "\2705";
background-color: #008137;
position: relative;
bottom: 15%;
right: 5%;
}

// input[type=checkbox]:checked:after {
// content: " ";
// }

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
100%,
0% {
    stroke: #008137;
}
40% {
    stroke: #01D758;
}
66% {
    stroke: #9EFD38;
}
80%,
90% {
    stroke: #B0F2B6;
}
}

@keyframes custom-progress-spinner-dash {
0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
}
100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
}
}
