<div class="flex flex-col ml-10 mb-10">
    <div class="mt-10">
        <h3 class="text-[14px] uppercase font-bold">informations personnelles</h3>
        <hr class="w-[99%]  mt-5 border-green-design">
    </div>
    <div class="mt-10 flex flex-col">
        <div class="w-[90%] md:w-1/2 bg-white flex mt-2">
            <form [formGroup]="formCompte" (ngSubmit)="setUser()" class="w-[90%]"> 
                <div class="mt-4">
                    <div class="mt-4">
                        <label class="block font-bold text-[14px]" for="name">pseudo</label>
                        <input type="text" formControlName="pseudo" placeholder="di_aissatu" class="w-[80%] px-4 py-2 mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design">
                    </div>
                    <div *ngIf="fieldEmail" class="mt-6">
                        <label class="block font-bold text-[14px]" for="name">Vous n'avez pas encore d'E-mail / Ajouter un Email</label>
                        <input type="text" formControlName="email" placeholder="aissatudiakhaté26@gmail.com" class="w-[80%] px-4 py-2 mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design">
                    </div>
                    <div *ngIf="fieldEmail1" class="mt-6">
                        <label class="block font-bold text-[14px]" for="name">E-mail</label>
                        <input type="text" formControlName="email" placeholder="aissatudiakhaté26@gmail.com" class="w-[80%] px-4 py-2 mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design">
                    </div>
                    <div  *ngIf="fieldPhone" class="mt-6">
                        <label class="block font-bold text-[14px]" for="name">Vous n'avez pas encore de numéro de téléphone / Ajouter un numéro de téléphone</label>
                        <input type="text" *ngIf="fieldPhone" formControlName="phone" placeholder="77 123 45 67" class="w-[80%] px-4 py-2 mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design">
                    </div>  
                    <div  *ngIf="fieldPhone1" class="mt-6">
                        <label class="block font-bold text-[14px]" for="name">Numéro de téléphone</label>
                        <input type="text" formControlName="phone" placeholder="77 123 45 67" class="w-[80%] px-4 py-2 mt-2 border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design">
                    </div>            
                </div>
                <div class="mt-10">
                    <button class=" flex shadow-xl border border-green-design flex-row bg-green-design hover:bg-white hover:text-green-design text-white font-bold py-4 px-12 rounded">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>