<!-- <div class="flex container-trade-page sm:mt-[40%] sm:mt-[20%] lg:mt-[7%] mb-5"> -->

<!--Stepper Vertical-->
<!-- <div class="flex ml-[5%] flex-col w-[25%] trade-container-step-nav-seller">
        
      <div class="w-full flex justify-items-start completed">
        <div class="w-full relative flex flex-row">
          <div class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%]  w-[50%] text-[16px] lg:text-[18px]"><button ><b class="text-green-design" *ngIf="notif || fonds || adresseBtc || close">1. Notification</b></button></div>
          <div class="line lg:h-[200px] md:h-[150px] ml-5 sm:h-[100px] border border-green-design"></div>
          <div class="w-[15px] h-[15px] lg:mt-[200px] md:mt-[150px] sm:mt-[100px] relative right-[8px] border bg-green-design rounded-full"><button >&nbsp;</button></div>
  
        </div>
  
      </div>
  
  
      <div class="w-full flex justify-items-start completed">
        <div class="w-full relative flex flex-row">
          <div class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%]  w-[50%] text-[16px] lg:text-[18px]"><button ><b class="text-green-design" *ngIf="fonds || adresseBtc || close ">2. Réception des fonds</b><span class="text-gray-400" *ngIf="!fonds && notif">2. Réception des fonds</span></button></div>
          <div  *ngIf="fonds || adresseBtc || close" class="line lg:h-[200px] ml-5 md:h-[150px] sm:h-[100px] border border-green-design"></div>
          <div  *ngIf="!fonds && notif " class="line lg:h-[200px] md:h-[150px] ml-5 sm:h-[100px] border border-gray-300"></div>
          <div *ngIf="fonds || adresseBtc || close" class="w-[15px] h-[15px] lg:mt-[200px] md:mt-[150px] sm:mt-[100px] relative right-[8px] border bg-green-design rounded-full"><button>&nbsp;</button></div>
  
        </div>
  
      </div> -->

<!-- Commenter -->
<!-- <div class="w-full flex justify-items-start  completed">
        <div class="w-full relative flex flex-row">
          <div class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%]  w-[50%] text-[16px] lg:text-[18px]"><button (click)="showAdresseBtc()"><b class="text-green-design" *ngIf="adresseBtc || close">3. Adresse Bitcoin</b><span class="text-gray-400" *ngIf="(!adresseBtc || fonds || notif) && !close">3. Adresse Bitcoin</span></button></div>
          <div *ngIf="adresseBtc || close" class="line lg:h-[200px] md:h-[150px] sm:h-[100px] border border-green-design"></div>
          <div  *ngIf="!adresseBtc && !close" class="line lg:h-[200px] md:h-[150px] sm:h-[100px] border border-gray-300"></div>
          <div *ngIf="adresseBtc || close" class="w-[15px] h-[15px] lg:mt-[200px] md:mt-[150px] sm:mt-[100px] relative right-[8px] border bg-green-design rounded-full"><button>&nbsp;</button></div> 
  
        </div>
  
      </div> -->
<!-- Commenter -->

<!-- <div class="w-full flex justify-items-start completed">
        <div class="w-full relative flex flex-row">
          <div class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%]  w-[50%] text-[16px] lg:text-[18px]"><button><b class="text-green-design" *ngIf="close">3. Clôture</b><span class="text-gray-400" *ngIf="!close">3. Clôture</span></button></div>
          <div *ngIf="close" class="line lg:h-[200px] ml-5 md:h-[150px] sm:h-[100px] border border-green-design"></div>
          <div *ngIf="!close " class="line lg:h-[200px] ml-5 md:h-[150px] sm:h-[100px] border border-gray-300"></div>
  
        </div>
  
      </div>
  
    </div> -->

<!--Page Content-->
<!--Section Notification-->
<!-- <div *ngIf="notif"
        class="w-[75%] flex flex-col min-h-screen trade-container-step-content">
        <div class="lg:w-[90%] lg:mt-[5%] md:mt-[15%] sm:mt-[45%]  p-[5%]">
            <p class="lg:text-link text-[16px] pl-[10%] text-notif-step-content">Bonjour <b>{{pseudoVendeur}}.</b><br>
                <b>{{pseudoAcheteur}}</b> souhaite acheter <b>{{quantityBtc}} BTC</b>.<br>
            </p>

            <form [formGroup]="formAdresseBtc" class="w-full mt-[5%]">
                <div class="lg:w-full md:w-full sm:w-full text-center t-a-mobile">
                    <label for="" class="lg:text-link text-[16px]">Merci de transférer les <b>BTC</b> à
                        l'adresse suivante, afin d'initialiser la transaction</label>
                </div>
                <div class="lg:text-subtitle w-full flex mt-6 justify-center">
                    <input [readonly]="true" type="text" formControlName="adresse" id=""
                        class="lg:w-[48%] md:w-[48%] sm:w-[80%] lg:text-link text-[16px] px-4 py-2 mt-2 font-bold border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design" /> -->

<!-- Commenter -->
<!-- <div class="mt-2 text-red-600" *ngIf="formControls['adresse'].errors?.['required'] && formControls['adresse']?.touched">L'adresse  est obligatoire</div> -->
<!-- Commenter -->

<!-- <button (click)="copyText()" class="relative lg:top-1 right-8 text-green-design">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z" />
                            <path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z" />
                        </svg>
                    </button>
                    <div *ngIf="copy" class="w-[2%] relative lg:top-4">Copié</div>
                </div>
                <div class="lg:text-subtitle w-full flex mt-6 justify-center">
                    <input type="text" formControlName="txid" placeholder="TxID" id=""
                        class="lg:w-[50%] md:w-[50%] sm:w-[80%] lg:text-link text-[16px] px-4 py-2 mt-2 font-bold border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design" />                        
                </div>
                <div class="lg:text-subtitle w-full flex justify-center">
                    <div class="lg:w-[50%] md:w-[50%] sm:w-[80%] mt-2 text-red-600" *ngIf="formControls['txid'].errors?.['required'] && formControls['txid']?.touched">Le txid est obligatoire</div>
                    <div class="lg:w-[50%] md:w-[50%] sm:w-[80%] mt-2 text-red-600" *ngIf="formControls['txid'].errors?.['pattern']">Le Txid est invalide</div>
                </div>
            </form>

            <div class="lg:text-link text-[16px] w-full flex p-5 mt-10 justify-center text-info-step-content">
                <p class="lg:w-[60%]">Il vous reste <b> {{idhours}}h :&nbsp; {{idMinutes}}minutes :&nbsp;
                        {{idSeconds}}secondes </b>&nbsp; avant l'annulation automatique de l'offre</p>
            </div>
            <div class="lg:w-[40%] md:w-[30%] sm:w-[60%] lg:ml-[25%] md:ml-[25%] sm:ml-[17%] flex mt-5 justify-center">
                <div class="w-full bg-gray-200 flex flex-col justify-center rounded-full dark:bg-gray-700">
                    <div class="bg-green-design leading-none rounded-full lg:p-1 sm:p-0.5 text-center" style="width: {{progress}}%">&nbsp;</div>
                    <div *ngIf="progress<=53" class=" absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px]">{{progress}}%</div>
                    <div *ngIf="progress>53" class=" absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px] text-white">{{progress}}%</div>
                </div>
            </div>
            <div class="w-full flex justify-center mt-10">
                <button
                    [hidden]="formControls['txid'].invalid"
                    (click)="step2()"
                    class="w-[70%] text-green-500 border-green-500 px-4 py-2 md:px-8 md:py-4 lg:px-8 lg:py-4 text-[16px] lg:text-[18px] uppercase rounded-3xl border-2 mx-5 font-bold btn-cancelled-offer">
                    <button (click)="progressSpinner()" >confirmer l'envoi</button> 
                </button>
            </div>
            
            <div *ngIf="boolTextAttente" class="flex justify-center">
                <div class="sm:w-[75%] lg:w-[50%] mt-4 text-center text-red-600">Veuillez patienter que {{pseudoAcheteur}} envoie les fonds </div>
            </div>
        </div>
    </div> -->

<!--Section Envoi Fonds-->
<!-- <div *ngIf="fonds" class="w-[75%] flex flex-col min-h-screen trade-container-step-content">
        <div class="lg:w-[90%] lg:mt-[10%] md:mt-[20%] sm:mt-[45%]  p-[5%]">
            <p class="lg:text-link text-[16px] pl-[10%] text-notif-step-content ">
                <b>{{pseudoAcheteur}}</b> vient de vous envoyer <b>{{montant}} {{currency}}</b> par <b>{{paymentMethod}}</b>.<br>
                Merci de confirmer la bonne réception des fonds.
            </p>
            <p class="lg:text-link text-[16px] text-center mt-[5%] pl-[10%] text-notif-step-content t-a-mobile">
                Vous avez désormais <b>24h</b> pour confirmer. Passé ce délai, la transaction sera annulée et vous serez pénalisé de <b>10%</b> de vos fonds.<br>
            </p>
            
            <div class="lg:text-link text-[16px] w-full flex p-5 mt-10 justify-center text-notif-step-content">
                <p class="lg:w-[60%]">Il vous reste <b> {{idhours}}h :&nbsp; {{idMinutes}}minutes :&nbsp;
                        {{idSeconds}}secondes </b>&nbsp; avant l'annulation automatique de l'offre</p>
            </div> -->

<!-- Commenter -->
<!-- <div class="lg:w-[40%] md:w-[30%] sm:w-[80%] lg:ml-[25%] md:ml-[25%] sm:ml-[5%] flex mt-5 justify-center">
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="bg-green-design  p-0.5 leading-none rounded-full" style="width: {{progress}}%">
                        {{progress}}%</div>
                </div>
            </div> -->
<!-- Commenter -->

<!-- <div class="lg:w-[40%] md:w-[30%] sm:w-[60%] lg:ml-[25%] md:ml-[25%] sm:ml-[17%] flex mt-5 justify-center">
                <div class="w-full bg-gray-200 flex flex-col justify-center rounded-full dark:bg-gray-700">
                    <div class="bg-green-design leading-none rounded-full lg:p-1 sm:p-0.5 text-center" style="width: {{progress}}%">&nbsp;</div>
                    <div *ngIf="progress<=53" class=" absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px]">{{progress}}%</div>
                    <div *ngIf="progress>53" class=" absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px] text-white">{{progress}}%</div>
                </div>
            </div>

            
            <div class="w-full flex justify-center mt-10">
                <button
                    (click)="step4()" 
                    class="w-[70%] text-green-500 border-green-500 px-4 py-2 md:px-8 md:py-4 lg:px-8 lg:py-4 text-[16px] lg:text-[18px] uppercase rounded-3xl border-2 mx-5 font-bold btn-cancelled-offer">
                    confirmer
                </button>
            </div>
        </div>
    </div> -->

<!--Section Cloture-->
<!-- <div *ngIf="close" class="w-[75%] flex flex-col min-h-screen trade-container-step-content">

        <div class="lg:w-[90%] lg:mt-[5%] md:mt-[20%] sm:mt-[45%]  p-[5%]">
            <div class="ml-[10%] w-[40%] container-img-last-step container-img-last-step-tablet">
                <img src="../../../../assets/3_.png" alt="">
            </div>
        </div>
        <div class="lg:w-[90%] ml-[10%] flex justify-center flex-col lg:text-link text-[16px] container-text-last-step-content content-last-step-tablet">
            <div class="pl-[10%] w-[40%] text-center text-last-step-content">
                La transaction est désormais close.
            </div>
            <div class="pl-[10%] w-[40%] text-center text-last-step-content">
                Merci à bientot <b>{{pseudoVendeur}}</b>.
            </div>
        </div>
    </div>
</div> -->

<div class="flex container-trade-page sm:mt-[40%] sm:mt-[20%] lg:mt-[7%] mb-5">
  <!--Stepper Vertical-->
  <div class="flex ml-[5%] flex-col w-[25%] trade-container-step-nav-seller">
    <div class="w-full flex justify-items-start completed">
      <div class="w-full relative flex flex-row">
        <div
          class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%] w-[50%] text-[16px] lg:text-[18px]"
        >
          <button><b class="text-green-design">1. Notification</b></button>
        </div>
        <div
          class="line lg:h-[200px] md:h-[150px] ml-5 sm:h-[100px] border border-green-design height-mobile-vente"
        ></div>
        <div
          class="w-[15px] h-[15px] lg:mt-[200px] md:mt-[150px] sm:mt-[100px] relative right-[8px] border bg-green-design rounded-full"
        >
          <button>&nbsp;</button>
        </div>
      </div>
    </div>

    <div class="w-full flex justify-items-start completed">
      <div class="w-full relative flex flex-row">
        <div
          class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%] w-[50%] text-[16px] lg:text-[18px]"
        >
          <button>
            <b class="text-green-design">2. Réception des fonds</b
            ><span class="text-gray-400" *ngIf="!fonds && notif"
              >2. Réception des fonds</span
            >
          </button>
        </div>
        <div
          class="line lg:h-[200px] ml-5 md:h-[150px] sm:h-[100px] border border-green-design height-mobile-vente"
        ></div>
        <div
          class="w-[15px] h-[15px] lg:mt-[200px] md:mt-[150px] sm:mt-[100px] relative right-[8px] border bg-green-design rounded-full"
        >
          <button>&nbsp;</button>
        </div>
      </div>
    </div>

    <!-- <div class="w-full flex justify-items-start  completed">
        <div class="w-full relative flex flex-row">
          <div class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%]  w-[50%] text-[16px] lg:text-[18px]"><button (click)="showAdresseBtc()"><b class="text-green-design" *ngIf="adresseBtc || close">3. Adresse Bitcoin</b><span class="text-gray-400" *ngIf="(!adresseBtc || fonds || notif) && !close">3. Adresse Bitcoin</span></button></div>
          <div *ngIf="adresseBtc || close" class="line lg:h-[200px] md:h-[150px] sm:h-[100px] border border-green-design"></div>
          <div  *ngIf="!adresseBtc && !close" class="line lg:h-[200px] md:h-[150px] sm:h-[100px] border border-gray-300"></div>
          <div *ngIf="adresseBtc || close" class="w-[15px] h-[15px] lg:mt-[200px] md:mt-[150px] sm:mt-[100px] relative right-[8px] border bg-green-design rounded-full"><button>&nbsp;</button></div> 
  
        </div>
  
      </div> -->

    <div class="w-full flex justify-items-start completed">
      <div class="w-full relative flex flex-row">
        <div
          class="lg:mt-[10%] md:mt-[20%] sm:mt-[25%] w-[50%] text-[16px] lg:text-[18px] height-mobile-vente"
        >
          <button>
            <b class="text-green-design">3. Clôture</b>
          </button>
        </div>
        <div
          class="line lg:h-[200px] ml-5 md:h-[150px] sm:h-[100px] border border-green-design"
        ></div>
      </div>
    </div>
  </div>

  <!--Page Content-->
  <!--Section Notification-->
  <!-- <div class="w-[75%] flex flex-col min-h-screen trade-container-step-content">
    <div class="lg:w-[90%] lg:mt-[5%] md:mt-[15%] sm:mt-[45%] p-[5%]">
      <p class="lg:text-link text-[16px] pl-[10%] text-notif-step-content">
        Bonjour <b>{{ pseudoVendeur }}.</b><br />
        <b>{{ pseudoAcheteur }}</b> souhaite acheter
        <b>{{ quantityBtc }} BTC</b>.<br />
      </p>

      <form [formGroup]="formAdresseBtc" class="w-full mt-[5%]">
        <div class="lg:w-full md:w-full sm:w-full text-center">
          <label for="" class="lg:text-link text-[16px]"
            >Merci de transférer les <b>BTC</b> à l'adresse suivante, afin
            d'initialiser la transaction</label
          >
        </div>
        <div class="lg:text-subtitle w-full flex mt-6 justify-center">
          <input
            [readonly]="true"
            type="text"
            formControlName="adresse"
            id=""
            class="form-control lg:w-[48%] md:w-[48%] sm:w-[80%] lg:text-link text-[16px] px-4 py-2 mt-2 font-bold border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design"
          />
          <button
            (click)="copyText()"
            class="relative lg:top-1 right-8 text-green-design"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z"
              />
              <path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z" />
            </svg>
          </button>
          <div class="w-[2%] relative lg:top-4">Copié</div>
        </div>
        <div class="lg:text-subtitle w-full flex mt-6 justify-center">
          <input
            type="text"
            formControlName="txid"
            placeholder="TxID"
            id=""
            class="form-control lg:w-[50%] md:w-[50%] sm:w-[80%] lg:text-link text-[16px] px-4 py-2 mt-2 font-bold border border-green-design rounded-md focus:outline-none focus:ring-1 focus:ring-green-design"
          />
        </div>
        <div class="lg:text-subtitle w-full flex justify-center">
          <div class="lg:w-[50%] md:w-[50%] sm:w-[80%] mt-2 text-red-600">
            Le txid est obligatoire
          </div>
          <div class="lg:w-[50%] md:w-[50%] sm:w-[80%] mt-2 text-red-600">
            Le Txid est invalide
          </div>
        </div>
      </form>

      <div
        class="lg:text-link text-[16px] w-full flex p-5 mt-10 justify-center text-info-step-content"
      >
        <p class="lg:w-[60%]">
          Il vous reste
          <b>
            {{ idhours }}h :&nbsp; {{ idMinutes }}minutes :&nbsp;
            {{ idSeconds }}secondes </b
          >&nbsp; avant l'annulation automatique de l'offre
        </p>
      </div>
      <div
        class="lg:w-[40%] md:w-[30%] sm:w-[60%] lg:ml-[25%] md:ml-[25%] sm:ml-[17%] flex mt-5 justify-center"
      >
        <div
          class="w-full bg-gray-200 flex flex-col justify-center rounded-full dark:bg-gray-700"
        >
          <div
            class="bg-green-design leading-none rounded-full lg:p-1 sm:p-0.5 text-center"
            style="width: {{ progress }}%"
          >
            &nbsp;
          </div>
          <div
            *ngIf="progress <= 53"
            class="absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px]"
          >
            {{ progress }}%
          </div>
          <div
            *ngIf="progress > 53"
            class="absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px] text-white"
          >
            {{ progress }}%
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center mt-10">
        <button
          [hidden]="formControls['txid'].invalid"
          (click)="step2()"
          class="w-[70%] text-green-500 border-green-500 px-4 py-2 md:px-8 md:py-4 lg:px-8 lg:py-4 text-[16px] lg:text-[18px] uppercase rounded-3xl border-2 mx-5 font-bold btn-cancelled-offer"
        >
          <button (click)="progressSpinner()">confirmer l'envoi</button>
        </button>
      </div>

      <div class="flex justify-center">
        <div class="sm:w-[75%] lg:w-[50%] mt-4 text-center text-red-600">
          Veuillez patienter que {{ pseudoAcheteur }} envoie les fonds
        </div>
      </div>
    </div>
  </div> -->

  <!--Section Envoi Fonds-->
  <!-- <div class="w-[75%] flex flex-col min-h-screen trade-container-step-content">
    <div class="lg:w-[90%] lg:mt-[10%] md:mt-[20%] sm:mt-[45%] p-[5%]">
      <p class="lg:text-link text-[16px] pl-[10%] text-notif-step-content">
        <b>{{ pseudoAcheteur }}</b> vient de vous envoyer
        <b>{{ montant }} {{ currency }}</b> par <b>{{ paymentMethod }}</b
        >.<br />
        Merci de confirmer la bonne réception des fonds.
      </p>
      <p
        class="lg:text-link text-[16px] text-center mt-[5%] pl-[10%] text-notif-step-content t-a-mobile"
      >
        Vous avez désormais <b>24h</b> pour confirmer. Passé ce délai, la
        transaction sera annulée et vous serez pénalisé de <b>10%</b> de vos
        fonds.<br />
      </p>

      <div
        class="lg:text-link text-[16px] w-full flex p-5 mt-10 justify-center text-info-step-content"
      >
        <p class="lg:w-[60%]">
          Il vous reste
          <b>
            {{ idhours }}h :&nbsp; {{ idMinutes }}minutes :&nbsp;
            {{ idSeconds }}secondes </b
          >&nbsp; avant l'annulation automatique de l'offre
        </p>
      </div>
      <div
        class="lg:w-[40%] md:w-[30%] sm:w-[60%] lg:ml-[25%] md:ml-[25%] sm:ml-[17%] flex mt-5 justify-center"
      >
        <div
          class="w-full bg-gray-200 flex flex-col justify-center rounded-full dark:bg-gray-700"
        >
          <div
            class="bg-green-design leading-none rounded-full lg:p-1 sm:p-0.5 text-center"
            style="width: 45%"
          >
            &nbsp;
          </div>
          <div
            *ngIf="progress <= 53"
            class="absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px]"
          >
            {{ progress }}%
          </div>
          <div
            *ngIf="progress > 53"
            class="absolute left-[57%] lg:m-3 sm:m-0.5 text-center text-[16px] text-white"
          >
            {{ progress }}%
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center mt-10">
        <button
          (click)="step4()"
          class="w-[70%] text-green-500 border-green-500 px-4 py-2 md:px-8 md:py-4 lg:px-8 lg:py-4 text-[16px] lg:text-[18px] uppercase rounded-3xl border-2 mx-5 font-bold btn-cancelled-offer"
        >
          confirmer
        </button>
      </div>
    </div>
  </div> -->

  <!--Section Cloture-->
  <div class="w-[75%] flex flex-col min-h-screen trade-container-step-content">
    <div class="lg:w-[90%] lg:mt-[5%] md:mt-[20%] sm:mt-[45%] p-[5%]">
      <div
        class="ml-[10%] w-[40%] container-img-last-step container-img-last-step-tablet"
      >
        <img src="../../../../assets/3_.png" alt="" />
      </div>
    </div>
    <div
      class="lg:w-[90%] ml-[10%] flex justify-center flex-col lg:text-link text-[16px] container-text-last-step-content content-last-step-tablet"
    >
      <div
        class="pl-[10%] w-[40%] text-center text-last-step-content text-notif-step-content"
      >
        La transaction est désormais close.
      </div>
      <div
        class="pl-[10%] w-[40%] text-center text-last-step-content text-notif-step-content"
      >
        Merci à bientot <b>{{ pseudoVendeur }}</b
        >.
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
