<div class="flex flex-col ml-10 mb-10">
    <div class="mt-10">
        <h3 class="text-[14px] uppercase font-bold">Modifier le mode de paiement</h3>
        <hr class="w-[99%]  mt-5 border-green-design">
    </div>
    <div class="mt-10 flex flex-col">
        <h4 class="text-[14px] uppercase text-gray-400 font-bold">actif</h4>
        <div class="w-[90%] md:w-1/2 bg-white flex mt-2 border border-b-4 border-green-design rounded-t-lg">
            <div class="w-full flex items-center">
                <div class="w-[60%] md:w-[20%] mt-2 mb-2 flex">                    
                    <div class="flex flex-col ml-5 p-7 mt-3 mb-3 justify-center">
                        <img src="../../../../../assets/logo_sans_text_Orange_Money.png" alt="">
                    </div>
                </div>
                <div class="w-[50%] flex flex-col">
                    <div class="uppercase font-bold text-[14px]">Orange Money</div>
                    <div class="text-[12px] mt-2 text-gray-400">Numéro de téléphone: +xxx xxxxxxxxx33</div>
                </div>
                <div class="md:w-[25%] flex justify-center">
                    <button type="" class=" flex border border-green-design flex-row bg-white hover:bg-green-design hover:text-white text-green-design font-bold md:py-4 md:px-12 rounded">
                        Retirer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 flex flex-col">
        <div class="w-[90%] md:w-1/2 bg-white flex mt-2 border border-b-4 border-green-design rounded-t-lg">
            <div class="w-full flex items-center">
                <div class="w-[60%] md:w-[20%] mt-2 mb-2 flex">                    
                    <div class="flex flex-col ml-5 p-7 mt-3 mb-3 justify-center">
                        <img src="../../../../../assets/wave-logo-sans-text.png" alt="">
                    </div>
                </div>
                <div class="w-[50%] flex flex-col">
                    <div class="uppercase font-bold text-[14px]">wave</div>
                    <div class="text-[12px] mt-2 text-gray-400">Numéro de téléphone: +xxx xxxxxxxxx33</div>
                </div>
                <div class="md:w-[25%] flex justify-center">
                    <button type="" class=" flex border border-green-design flex-row bg-white hover:bg-green-design hover:text-white text-green-design font-bold md:py-4 md:px-12 rounded">
                        Retirer
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-10 grid w-[50%] justify-items-end">
        <button class="w-[40%] shadow-xl border border-green-design flex-row bg-green-design hover:bg-white hover:text-green-design text-white font-bold py-4 px-4 rounded">Ajouter un mode de paiement</button>
    </div>
</div>